.DS_Store
Thumbs.db
*.sql
.gitignore
/.idea/
/sitemap*.xml
robots.txt

/upload/*
bitrix/backup/*.*
bitrix/php_interface/dbconn.php
bitrix/.settings.php
bitrix/cache/
bitrix/managed_cache/
bitrix/html_pages/
upload/1c_catalog/
cgi-bin/
desktop_app/
webstat/