/* item_detail_v2 */
.bx_item_detail.bx_red .bx_bt_button  				{
	background: #D9017A;
	color:#fff;
	display:inline-block;
	border-radius:3px;
	border: 1px solid transparent;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	cursor:pointer;
}
.bx_item_detail.bx_red .bx_bt_button:hover  		{
	background: #f05180;
}
.bx_item_detail.bx_red .bx_bt_button:active  		{
	background: #f05180;
}
.bx_item_detail.bx_red .bx_big.bx_bt_button.bx_cart span{
	background:url(images/bt_cart.svg) no-repeat center;
}

/* item_detail_slider */
.bx_item_detail.bx_red .bx_item_slider .bx_slide ul li .cnt  				{}
.bx_item_detail.bx_red .bx_item_slider .bx_slide ul li:hover .cnt  			{border: 1px solid #D9017A}
.bx_item_detail.bx_red .bx_item_slider .bx_slide ul li:active .cnt,
.bx_item_detail.bx_red .bx_item_slider .bx_slide ul li.bx_active .cnt  		{border: 2px solid #D9017A}

.bx-retina .bx_item_detail.bx_red .bx_item_slider .bx_slide ul li.bx_active .cnt{
	-webkit-border-image: url(images/x2border_active.png) 2 stretch;
	-moz-border-image: url(images/x2border_active.png) 2 stretch;
	-o-border-image: url(images/x2border_active.png) 2 stretch;
	border-image: url(images/x2border_active.png) 2 fill stretch;
}

/* scu_detail_size */
.bx_item_detail.bx_red .bx_item_detail_size ul li .cnt  				{}
.bx_item_detail.bx_red .bx_item_detail_size ul li:hover .cnt  			{border: 1px solid #D9017A}
.bx_item_detail.bx_red .bx_item_detail_size ul li:active .cnt,
.bx_item_detail.bx_red .bx_item_detail_size ul li.bx_active .cnt  		{border: 2px solid #D9017A}

.bx-retina .bx_item_detail.bx_red .bx_item_detail_size ul li.bx_active .cnt{
	-webkit-border-image: url(images/x2border_active.png) 2 stretch;
	-moz-border-image: url(images/x2border_active.png) 2 stretch;
	-o-border-image: url(images/x2border_active.png) 2 stretch;
	border-image: url(images/x2border_active.png) 2 fill stretch;
}

/* scu_detail_scu */
.bx_item_detail.bx_red .bx_item_detail_scu .bx_scu ul li .cnt  				 	{border: 1px solid #d35841}
.bx_item_detail.bx_red .bx_item_detail_scu .bx_scu ul li:hover .cnt				{border: 1px solid #D9017A}
.bx_item_detail.bx_red .bx_item_detail_scu .bx_scu ul li:active .cnt,
.bx_item_detail.bx_red .bx_item_detail_scu .bx_scu ul li.bx_active .cnt			{border: 2px solid #D9017A}

.bx-retina .bx_item_detail.bx_red .bx_item_detail_scu .bx_scu ul li.bx_active .cnt{
	-webkit-border-image: url(images/x2border_active.png) 2 stretch;
	-moz-border-image: url(images/x2border_active.png) 2 stretch;
	-o-border-image: url(images/x2border_active.png) 2 stretch;
	border-image: url(images/x2border_active.png) 2 fill stretch;
}